.movieInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 760px;
}
.poster>img {
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 50px;
    width: 450px;
}
.wraper{
    display: flex;
flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
padding-left: 50px;
    padding-right: 50px;
}


h1{
    margin-bottom: 5px;
    color: blue;
    padding-bottom: 0;
}

.color{
    color: #ffaa00;
    font-weight: bolder;
   }

.tagline{
    font-family: "Bookman Old Style", serif;
    font-size: 24px;
    color: #8a2928;
    margin-top: 20px;

}

#mediumText {
font-size: 22px;
    padding-top: 5px;
}
.rating{
    display: flex;
}
.rating img{
    margin-left: 15px;
    height: 25px;
}
.overview{
    margin-top: 10px;
    font-family: "Constantia", serif;
    font-size: 24px;
}



