.movieInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fdfdfd;
    height: 750px;
    font-family: "Constantia";
}
.poster>img {
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 50px;
    width: 500px;
   height: 500px;
}
.wraper{
    display: flex;
flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
padding-left: 50px;
    padding-right: 50px;
}


h1{
    margin-bottom: 5px;
    color: blue;
    padding-bottom: 0;
}

.color{
  font-family: "Calibri Light";
    font-weight: bolder;
    color: orange;
   }

.tagline{
    font-family: "Bookman Old Style";
    font-size: 24px;
    color: #8a2928;
    margin-top: 20px;

}

.mediumText {
font-size: 22px;
    padding-top: 5px;
    font-family: italic;
}
.rating{
    display: flex;
}
.rating img{
    margin-left: 15px;
    height: 25px;
}
.overview{
    font-family: "Constantia";
    font-size: 24px;
}