.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
   margin-top: 30px;
}
.searchBar input{
    border-radius: 4px;
    padding: 1px;
    font-size: 14px;
    color: red;
}

.searchBar button{
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    padding: 1px;
}
.searchBar button:hover{
    background-color: #187dbb;
    color: white;
}


